.sidebar-wrapper{
	float: left;
	border: 1px dashed green;
	box-sizing: border-box;
}

.header-wrapper{
	background: #ebebeb;
	border-bottom: 1px solid grey
}

.header-wrapper > div{
	float: left;
}

.sidebar-right{
	float: left;
	border: 1px dashed green;
	box-sizing: border-box;
}

#content{
	float: left;
	border: 1px dashed blue;
	box-sizing: border-box;
}

#above-content{
	border: 5px solid red;
}

#content-wrapper{
	border: 1px dashed grey;
}

.full-width{
	width: 100%;
}

.three-fourths{
	width: 75%;
}

.one-fourths{
	width: 25%;
}

.one-half{
	width: 50%;
}

.clearfix:after {  
visibility: hidden; 
 display: block;  
 font-size: 0;  
 content: " ";  
 clear: both;  
 height: 0; } 

 .clearfix { 
 display: inline-block; 
 } 
 /* start commented backslash hack \*/ 
 * html .clearfix { 
 height: 1%; 
 } 
 .clearfix { 
 display: block; 
 } /* close commented backslash hack */